.note {
  background: var(--color-note);
  color: var(--color-text);
  width: 20rem;
  border-radius: 1rem;
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: large;
}

.note h2 {
  color: var(--color-note-title);
}

.note hr {
  border-top: dashed 1px;
}
