.note-container {
  position: relative;
  background: var(--color-note);
  color: var(--color-text);
  width: 20rem;
  border-radius: 1rem;
  padding: 0.5rem 3rem 0.5rem 3rem;
}

.note {
  font-size: large;
}

.note h2 {
  color: var(--color-note-title);
}

.note hr {
  border-top: dashed 1px;
}

.note-delete {
  position: absolute;
  top: -1rem;
  right: -1rem;
  border: none;
  background-color: transparent;
}
