@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --color-background: white;
  --color-title: #8e4396;
  --color-note: #f3f3f3;
  --color-note-title: #38b0a8;
  --color-text: #808080;
  --color-orange: #fc7608;
  font-weight: 500;
}

body,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
}

body {
  background: var(--color-background);
}

h1 {
  font-size: 400;
  color: var(--color-title);
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

@media (max-width: 1080px) {
  .container {
    flex-direction: column;
  }
}
