.note-container {
  position: relative;
  background: var(--color-note);
  color: var(--color-text);
  width: 20rem;
  border-radius: 1rem;
  padding: 0.5rem 3rem 0.5rem 3rem;
  box-shadow: 0 2px 2px rgba(151, 151, 151, 0.2);
}

.note {
  font-size: large;
}

.note h2 {
  color: var(--color-note-title);
  font-size: larger;
}

.note hr {
  border-top: dashed 1px;
}

.note-delete {
  position: absolute;
  top: -1rem;
  right: -1rem;
  border: none;
  background-color: transparent;
}

@media (max-width: 640px) {
  .note-container {
    height: 12rem;
    width: 15rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}
