.notepad {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-right: 4rem;
}

.notepad h1 {
  margin-bottom: 3rem;
}

.notepad input,
textarea {
  background: var(--color-note);
  border: transparent;
  border-radius: 1rem;
  outline: 0;
  height: 3.5rem;
  width: 20rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 0 3rem 0 3rem;
  font-size: medium;
  margin-bottom: 2rem;
}

.notepad textarea {
  resize: none;
  height: 15rem;
  padding-top: 1.25rem;
}

.notepad button {
  font-family: "Montserrat", sans-serif;
  background: var(--color-orange);
  height: 2.5rem;
  width: 10rem;
  color: white;
  font-size: medium;
  border: transparent;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn-container {
  text-align: right;
}

@media (max-width: 1080px) {
  .container {
    align-items: center;
  }
}

@media (max-width: 560px) {
  .notepad {
    padding: 0;
  }
  .notepad input,
  textarea {
    width: 10rem;
  }
}
